/*********************************************

This is the style file for this project.

**********************************************/

.container {
  /* border: 1px solid orange; */
  display: block;
  margin: auto;
  width: 95vw;
  height: 95vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.keypad {
  /* border: 1px solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  font-family: Helvetica;
  width: 550px;

}

.key {
  border: 1px solid #4f5059;
  border-radius: 10px;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 15px;
  text-align: center;
  background-color: white;
  color: #4f5059;
}

.key:hover {
  background-color: #4f5059;
  color: white;
}

h1 {
  /*  border: 1px solid green; */
  font-size: 3em;
  margin-bottom: 0;
}

p {
  /* border: 1px solid pink; */
  margin-top: 0;
}
