/*********************************************

This is the style file for this project.

**********************************************/

.container {
  /* border: 1px solid orange; */
  display: block;
  margin: auto;
  width: 95vw;
  height: 95vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.keypad {
  /* border: 1px solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  font-family: Helvetica;
  width: 400px;

}

.key {
  border: 1px solid #4f5059;
  border-radius: 10px;
  display: inline-block;
  margin: 2%;
  text-align: center;
  background-color: white;
  color: #4f5059;
}

.small {
  width: 28.8%;
}

.large {
  width: 100%;
}

.key:hover {
  background-color: #4f5059;
  color: white;
}

.key:active {
  background-color: #4fbf53;
  color: white;
}

h1 {
  /*  border: 1px solid green; */
  font-size: 2em;
  margin-bottom: 0;
}

p {
  /* border: 1px solid pink; */
  font-size: 0.75em;
  margin-top: 0;
}
