/*********************************************

This is the style file for this project.

**********************************************/

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Proxima Nova,Helvetica,Arial,sans-serif;
}

h1, h3 {
  /* border: 1px dotted pink; */

}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.4em;
}

#subtitle {
  font-weight: 300;
  margin-top: 0.7em;
  margin-bottom: 1em;
}

#date-posted {
  font-size: 0.8em;
  color: #cfcfcf;
  font-weight: 400;
  margin-top: 0.3em;
}

#container {
  /* border: 1px solid pink; */
  display: block;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

#topbar {
  /* border: 1px solid red; */
  background-color: #ee3321;
  width: 100%;
  height: 7vh;
  top: 0;
  display: block;
  clear: both;
}

#flex-container {
  /* border: 1px solid green; */
  display: block;
  padding-top: 0;
  padding-bottom: 1em;
  width: 100vw;
  height: 93vh;
  display: flex;
  align-items: center;
}

.content {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  font-family: inherit;
  margin: 2%;
  padding: 0;
}

#quizarea {
  width: 34%;
  max-width: 640px;
  margin-right: 8em;
  /* margin-left: 8em; */
  height: 75vh;
  flex-grow: 2;
  justify-content: flex-start;
  align-items: flex-start;
}

#sidebar {
  width: 23%;
  max-width: 480px;
  /* margin-right: 8em; */
  margin-left: 8em;
  height: 75vh;
  flex-grow: 1;
  position: relative;
}

#progressbar {
  border: 1px solid lightgrey;
  position: absolute;
  bottom: 1em;
  width: 90%; /* fix this! */
}

#inspiration {
  width: 100%;
  height: auto;
}
