/*********************************************

This is the style file for this project.

**********************************************/

.container {
  /* border: 1px solid orange; */
  display: block;
  margin: auto;
  width: 95vw;
  height: 95vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.keypad {
  /* border: 1px solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  font-family: Helvetica;
  width: 400px;

}

.key {
  border-radius: 10px;
  display: inline-block;
  margin: 2%;
  text-align: center;
}

.small.key {
  width: 28.8%;
  border: 1px solid #4f5059;
  background-color: white;
  color: #4f5059;
}

.large.key {
  width: 100%;
  border: 1px solid #53bf4f;
  background-color: #53bf4f;
  color: white;
}

.large.key:active {
  border: 1px solid #8cca3d;
  background-color: #8cca3d;
}

.large.key:hover {
  border: 1px solid #388334;
  background-color: #388334;
}

.large.key.open {
  border: 1px solid #d64128;
  background-color: #d64128;
  color: white;
}

.large.key.open:active {
  background-color: #fc8416;
  border: 1px solid #fc8416;
}

.small.key:hover {
  background-color: #4f5059;
  color: white;
}

.small.key:active {
  background-color: #acadaf;
  color: white;
}

#progressbar {
  width: 100%;
  border: 1px solid lightgrey;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
}

h1 {
  /*  border: 1px solid green; */
  font-size: 2em;
  margin-bottom: 0;
}

p {
  /* border: 1px solid pink; */
  font-size: 1em;
  margin-top: 0;
}
